body{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family:arial;
    margin-left: 5vw;
    margin-right: 5vw;
}

div{
    display:none;
    margin-bottom:9vh;
    margin-top: 0;
}

button[type="button"]{
	width: 90vw;
    height: 7vh;
    position: fixed;
    bottom: 0;
    display:block;
}

input[type="radio"]{
    accent-color:rgb(0, 0, 0);
}

label{
    font-weight: bolder;
}

select{
    width: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
}

img{
    width: 100vw;
    height: 100vh;
    animation: img 8s ease 2.5s infinite;
    position: fixed;
    left: 0;
    top: 0;
    object-fit: contain;
    opacity: 0.6;
    z-index: -1;
}

p{
    font-weight: bolder;
}

.orario{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1em; 
}

.giorno{
    margin-top: 15px;
    margin-bottom: 3px;
}

.bottoni {
    color:rgb(0, 0, 0);
    background-color: white;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 4px;
    font-size:20px;
    font-weight:bolder;
    margin-bottom: 10px;
}

.bottoni:hover{
    background-color: rgb(0, 0, 0);
    animation: coloreBottone 0.5s linear forwards;
}

.mostra{
	display:block;
    animation: mostraSett 1s ease-in;
}

.caricamento{
    display: inline-block;
    animation: up-down 1s infinite ease-in-out;
    color: white;
}

.opzione{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%; 
    margin-bottom: 0;
}

#punto1{animation-delay: 0.15s;}
#punto2{animation-delay: 0.40s;}
#punto3{animation-delay: 0.65s;}

#loader{
    display:none;
    align-items: center;
}

#points{
    display:flex;
    border: 1px white solid;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#blocco-opzioni{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    gap: 10px;
    margin-bottom: 0;
}

@keyframes up-down {
    0%, 40%{
        transform: translateY(0);
    }
    70%{
        transform: translateY(-5px);
    }
    100%{transform: translateY(0);}
}

@keyframes coloreBottone{
    from{
        color:rgb(0, 0, 0);
    }
    to{
        color:white;
    }
}

@keyframes img{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);} 
}

@keyframes mostraSett{
	from{opacity: 0;}
    to{opacity: 1;}
}
